.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 5px 10px #ced4da;
  padding: 2rem;
  width: 400px;
  overflow: hidden;
}
h1 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 1.2rem;
  color: #495057;
}

.form-group {
  margin-bottom: 20px;
  position: relative;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #495057;
  font-weight: bold;
}

input {
  display: block;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #868e96;
  transition: border-color 0.3s;
}

input:focus {
  outline: none;
  border-color: #339af0;
}
small {
  visibility: hidden;
  color: #f03e3e;
  position: absolute;
  left: 0;
  bottom: -18px;
  font-size: 10px;
}
button {
  border: none;
  width: 100%;
  padding: 10px;
  background-color: #339af0;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  margin-top: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #1c7ed6;
}
.form-group.error input {
  border-color: #f03e3e;
}
.form-group.success input {
  border-color: #40c057;
}
.form-group.error small {
  visibility: visible;
}
.form-group.success small {
  visibility: hidden;
}
